<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title href="/login"><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main class="main-content">
            <div class="header">
                <a href="/dashboard" class="action-button">Home</a>
                <a href="/profile" class="action-button">Profile</a>
                <a href="/logout" class="action-button">Logout</a>
              </div>
        </main>
    </body>
</html>