<%- include('partials/header', { title: "Home" }) %>

<div class="main-content">
    <h1>Login</h1>
    <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <form action="/login" method="post" style="width: 300px;">
        <div class="form-input-container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="action-button full-width">Login</button>
    </form>
    <p style="font-size: 12px; margin-top: 30px;">
        Looking to create an account? 
        <a href="/login" class="register-link">Sign Up Today</a>
    </p>
    <form action="/logout" method="post" style="width: 300px;">
        <button type="submit" class="action-button full-width">Logout</button>
    </form>
</div>

</body>
</html>