<%- include('partials/header', { title: "Profile Page" }) %>

<div class="main-content">
    <h1>Profile Page</h1>
    <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
    <% } %>
</div>